/* 			Paleta de Colores
	#EB3649 - #FFFFFF - #EAEDED - #424949
*/

.bg-light {
	background-color: none;
}

.navbar-nav {
    float:none;
    margin:0 auto;

}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.col-center{
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-item {
	font-family: 'Montserrat', sans-serif;
}

.row {
	padding-top: 1rem;
}

h1 {
	text-align: center;
	font-family: 'Heebo', sans-serif;
	font-size: 3rem;
	color: #424949;
}

h2 {
	font-family: 'Heebo', sans-serif;
	font-size: 2rem;
	color: #424949;
	padding-top: 4rem;
}

p {
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
}

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #424949;
}

footer p {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.logo img{
	margin: auto;
	display: block;
	width: 20rem;
}

.attachment-icons-style {
	display: block;
	width: 80px;
	height: 80px;
	margin-top: 2rem;
	margin: auto;
}

/*Flecha para hacer la pagina hacia arriba*/

.simplescrollup__button {
	position: fixed;
	bottom: 3rem;
	right: 1rem;
	transition: 1s all;
	z-index: 10000;
	color: black
}
.simplescrollup__button--show {
	transform: translate(0);
}
.simplescrollup__button--hide {
	transform: translate(100px);
}

